@import 'common/common';

.home-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 2;

    background-color: #fff;
    .logo {
        padding: 1rem;
    }
    .links {
        display: flex;
        a {
            color: #333 !important;
            margin: 0.5rem 2rem;
        }
    }
}

.hero {
    height: 100vh;
    background-image: url('/img/bg-1.jpg');
    background-position: center;
    background-size: cover;
    h1 {
        color: #000;
        font-weight: bold;
    }
}

.green-btn {
    background-color: $green;
    border-color: darken($color: $green, $amount: 25%);
}
.yellow-btn {
    background-color: $yellow;
    border-color: darken($color: $yellow, $amount: 25%);
}

.benefict {
    padding-top: 4rem;
    padding-bottom: 0;
    svg {
        width: 100%;
        display: block;
    }
}

.b-content {
    justify-content: space-around;
    color: #fff;
    .b-info {
        h2 {
            font-weight: bold;
        }
    }
    .b-img{ 
        img {
            height: 40vh;
            border-radius: 1rem;
        }
    }
}

.b-img-svg {
    img {
        height: 50vh;
    }
}

.b-1 {
    background-color: $green;
}
.b-2 {
    background-color: $rojo;
}
