@import '../common/common';


.search-results {
    article {
        display: flex;
        align-items: center;
        img {
            height: 15rem;
            border-radius: 0.5rem;
        }
        margin: 2rem auto;

        @media (max-width: 870px) {
            flex-direction: column;
            img {
                height: auto;
                width: 80%;
            }
        }
    }
    .song-data {
        display: flex;
        align-items: center;
        .sng-pack {
            display: flex;
            flex-direction: column;
            h3 {
                font-size: 3.2rem;
                font-weight: bold;
            }
            h4 {
                font-weight: normal;
            }
            margin: 1rem 2rem;
        }
        
        @media (max-width: 870px) {
            flex-direction: column;
            * {
                text-align: center;
            }
        }
    }
}